@model CosmoTrek_v3.Models.TrekPlan

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Cancel your trip</h1>

<h3>Are you sure you want to cancel your reservation?</h3>
<div>
    <h4>Trek Plan</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Destination)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Destination)
        </dd>
        <dt class = "col-sm-2">
            Rocket Type
        </dt>
        <dd class = "col-sm-10">
            @TrekPlanMisc.RocketShips[Convert.ToInt32(Model.RocketType)]
        </dd>
        <dt class = "col-sm-2">
            Launch Date
        </dt>
        <dd class = "col-sm-10">
            @Model.LaunchDate.ToString("D")
        </dd>
        <dt class = "col-sm-2">
            Mode of Propulsion
        </dt>
        <dd class = "col-sm-10">
            @TrekPlanMisc.PropulsionModes[Convert.ToInt32(Model.Mode)]
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Cancel" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>

</div>
