@using System.Data
@using LumenWorks.Framework.IO.Csv
@model CosmoTrek_v3.Models.TrekPlan
@using static CosmoTrek_v3.Models.TrekPlanMisc
@using static CosmoTrek_v3.Models.RocketInfo

@{
    ViewData["Title"] = "Trip Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var thisRecord = GetRocket(Model.RocketType);
}
<h1>Trip Details</h1>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img class="img-fluid" src="~/js/@(Model.RocketType).jpg" />
        </div>
        <div class="col-md-2 py-3 border border-light">
            <div class="row">
                <p class="text-primary">Rocket Type: </p><p>@TrekPlanMisc.RocketShips[Model.RocketType]</p>
            </div>
            <div class="row"><p class="text-primary">Company: </p><p>@thisRecord[1]</p></div>
            <div class="row"><p class="text-primary">Country: </p><p>@thisRecord[2]</p></div>
            <div class="row"><p class="text-primary">Launch Cost: </p><p>@thisRecord[3]</p></div>
        </div>
        <div class="col-md-2 py-3 border border-light">
            <div class="row"><p class="text-primary">Weight: </p><p>@thisRecord[4]</p></div>
            <div class="row"><p class="text-primary">Thrust: </p><p>@thisRecord[5]</p></div>
            <div class="row"><p class="text-primary">W/T Ratio: </p><p>@thisRecord[6]</p></div>
            <div class="row"><p class="text-primary">Velocity: </p><p>@thisRecord[7]</p></div>
        </div>
        <div class="col-md-2 py-3 border border-light">
            <div class="row"><p class="text-primary">Destination: </p><p>@Model.Destination</p></div>
            <div class="row"><p class="text-primary">Departure Date: </p><p>@Model.LaunchDate.ToString("D")</p></div>
        </div>
    </div>
</div>

<div class="button-primary m-2">
    <a asp-action="Index">Back to List</a>
</div>


